<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robokalam</title>
</head>
<body>
    <h1>Robokalam Assignment</h1>
    <form action="/robokalam" method="post">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="text" name="lastname" placeholder="ENter your last name">
        <input type="email" name="email" placeholder="Enter your email">
        <input type="submit">
    </form> 
</body>
</html>